.body{
    margin:0px;
    /* margin-top: 250px; */
    
}
.brand-name{
    color:white;
    font-weight: 600;
}
.img-res {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 150px;
}

#navbar{
  background: rgb(0, 10, 78);;
}
.logo-f{
    height: 50px;
    width: 100px;
}
.brand-name-f{
    color:white;
    padding-left: 2px;
    font-weight: 600;
}
