
.body{
    margin:0px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

:root{
    --back:#16161A;
    --back-text:#707070;
}

/* 
########
### Navbar 
########
*/

#navbaar{
    background-color: var(--back);
    height:10vh;
}
.clr{
    background-color: var(--back);
}
.brand-name{
    color:white;
    font-weight: 600;
}
.img-brand {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 150px;
    margin-left: auto;
}

.navbar-nav{
    margin-left:auto;
}
.heading{
    margin-top:auto;
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--back-text);
}

/* 
########
### Main
########
*/

.main{
    height:90vh;
}
.leftside{
    width:100%;
    height: 45vh;
}
.rightside{
    width:100%;
    height: 75vh; 
}
.leftside{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/iceland.jpg");
    background-color:  rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
}
.rightside{
    background-color: black;
}
.leftside h1{
    white-space: normal;
    margin-top: 0;
    padding: 10vh 8vw;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 5vh;
    letter-spacing: 2px;
}
.rightside p{
    white-space: normal;
    margin-top: 0;
    padding: 5vh 12vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    opacity: 0.9;
    font-weight: 300;
    font-size: 1.8vh;
}

@media screen and (min-width:425px){
    .leftside{
        height: 50vh;
    }
    .rightside{
        height:75vh;
    }
    .leftside h1{
        white-space: normal;
        margin-top: 0;
        padding: 10vh 8vw;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 5vh;
        letter-spacing: 2px;
    }
    .rightside p{
        white-space: normal;
        margin-top: 0;
        padding: 5vh 12vw;
        color: white;
        font-family: 'Raleway', sans-serif;
        word-spacing: 2px;
        letter-spacing: 1px;
        opacity: 0.9;
        font-weight: 300;
        font-size: 2.1vh;
    }

}
@media screen and (min-width:768px){
    .leftside, .rightside{
        height: 90vh;
    }
    .rightside p{
        white-space: normal;
        margin-top: 0;
        padding: 5vh 7vw;
        color: white;
        font-family: 'Raleway', sans-serif;
        word-spacing: 3px;
        letter-spacing: 1px;
        opacity: 0.9;
        font-weight: 300;
        font-size: 2.1vh;

    }
    .leftside h1{
        white-space: normal;
        margin-top: 0;
        padding: 10vh 6vw;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 5vh;
        letter-spacing: 4px;      
    }
}
@media screen and (min-width:1024px){
    .leftside, .rightside{
        height: 90vh;
    }
    .rightside p{
        white-space: normal;
        margin-top: 0;
         padding: 5vh 7vw;
    
        color:white;
        font-family: 'Raleway', sans-serif;
        word-spacing: 3px;
        letter-spacing: 1px;
        opacity: 0.9;
        font-weight: 300;
        font-size: 2.5vh;
        
    }
    .leftside h1{
        white-space: normal;
        margin-top: 0; 
        padding: 10vh 5vw;
    
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 7vh;
        letter-spacing: 6px;
    }
}

/* 
#########
### Services 
#########
*/

@media screen and (max-width:500px){
    .services-area{
        margin-top: 200px;
    }
}

.title{
    text-align: center;
    margin-bottom: 4em;
}
.title h1{
    color: var(--back-text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4em;
    opacity: 0.15;
    text-transform: uppercase;
}
.title h3{
    margin-top: -32px;
    color: white;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    text-transform: uppercase;
}

.services-area{
    padding: 80px;
    color:white;
    background-color: var(--back);
}

.ser-box{
    padding-bottom: 2em;
}


.services-area .card-title{
    /* color:#eeedde; */
    color:white;
    opacity: 0.85;
    text-align: center;

}
.services-area .card-text{
    color:#c4c4c4;
    text-align: center;
}

.card-img-top{
    max-width: 13vh;
    max-height: 13vh;
    height: auto;
    width: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    margin-top: 5px;
    opacity: 0.8;
}


/*
##########
### Parallax
#########
*/

.parallax1 {
    /* The image used */
    background-image: url("resources/parallax/1.jpg");
  
    /* Set a specific height */
    height: 30vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax2 {
    /* The image used */
    background-image: url("resources/parallax/2.jpg");
  
    /* Set a specific height */
    height: 30vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*
##########
### Outsourcing
#########
*/

.outsourcing{
    padding: 80px;
    color:white;
    background-color: var(--back);
}

.outsourcing-title{
    text-align: center;
}

.outsourcing-title span{
    padding-bottom: 8px;
    color: #eddbc6;
}

.outsourcing-title h2{
    margin-bottom: 16px;
}

/*
##########
### Choose us
#########
*/

.choose-us{
    padding: 80px;
    color:white;
    background-color: var(--back);
}

.choose-us-title span{
    color: #eddbc6;
    padding-bottom: 8px;
}

.choose-us-title h2{
    margin-bottom: 16px;
    color:white;
}

.choose-us-img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px;  
}

.choose-us-cards {
    color: black;
}

.choose-us .card{
    margin: 0px 10px 24px 0px;
    padding: 15px 5px;
}

.choose-us .card:hover{
    background-color: #fcf3e8;
}


/* 
#########
### FOOTER-TOP
#########
*/

.footer-top{
    padding: 60px;
    color:white;
    background-color: var(--back);
}

.footer-top .logo-f{
    height: 50px;
    width: 100px;
}

.footer-top .brand-name-f{
    text-decoration: none;
    color:white;
    padding-left: 2px;
    font-weight: 600;
}

.footer-top .social-f{
    list-style: none;
    /* margin :25px 20px;
    padding :0px; */
}

.footer-top .social-f li{
    display: inline;
    padding-right: 15px;
    /* padding:15px; */
}

.footer-top a{
    color:white;
    text-decoration: none;
}

.footer-top h3{
    color: #eddbc6;
}

.f-icon{
    height: 25px;
    width: 25px;
}

.address{   
    margin-bottom:4px;
}
.address h5{
    margin-bottom: 4px;
}
/* 
#########
### FOOTER-BOTTOM 
#########
*/

.footer-bottom .container-fluid{   
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;   
}

.footer-bottom .align-f{
    text-align: center;
    margin: 0;
}

.footer-bottom{
    color:white;
    background-color: var(--back);
}

.c-top{
    padding-top: 7px;
    padding-bottom: 4px;
    margin:0px;
}

.c-top a{
    text-decoration: none;
    color: #eddbc6;
}

.c-top a:hover{
    text-decoration: none;
    color: white;
}

.c-bottom p{
    color:#eddbc6; 
    margin: 0px;
    padding-bottom: 7px;
}
