.profile-bg {
    
        background-color: #eff0f3;
        background-image: none;

}

#client-info{
    margin-top: 60px;
}
#client-info .client-img{
    height: 220px;
    width: 220px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    margin: 15px;
}
#client-info h2{
    font-size: 40px;
    font-weight: 600;
}
#client-info i {
    font-size: 18px;
}
#client-info p{
    color: #C7C7C7;
}

#client-info .btn{
    background-color: white;
    float: right;

}
#client-options a{
    text-decoration: none;
    color: #535353;
    
    
}
#client-options h5{
     font-weight: 600;
}
#client-options .card{

    border-radius: 15px;
    margin: 20px  0;
    padding: 15px 0;
    border: none;
   
}
#client-options .card:hover{

   background-color: #c7c7c7;
   
}
#client-options a:hover{

    color: white;
    
}
.grey-text{
    color: #c7c7c7;
    font-weight: lighter;
    font-size: 14px;
}

.modal input{
    background-color: #e7e4e4;
    
}
.modal .btn-close{
    background-color:#a1cae2 ; 
    color: white; 
    border-radius: 50%;
}
.modal .btn{
    background-color:#763AFF ;
    color: white;
}
@media (max-width:798px){
    #client-info{
        text-align: center;
    }
}




