
body{
    background-image: url('../images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway',sans-serif;
  
    
}

/*-----------------HOME PAGE---------------------*/
#navigation{
    margin:15px 0;
}
#navigation .nav-link{
    padding: 10px;
}
#navigation img{
    height: 50px;
    width: 100px;
}
#banner,#limited-edition{
    padding: 11% 0;
}
#categories{
    padding-bottom: 10% ;
}
.btn{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.grey-bg{
    background-color: #eff0f3;
    background-image: none;
}

#banner .banner-heading{
   
    font-size: 60px;
    text-align: right;
    color: #535353;
    font-weight: 600;
}
#banner .banner-subheading{
    color: #C9CACC;
    font-size: 40px;
    text-align: right;
}
#banner .browse{
    background-color:#a1cae2 ;
    font-size: 30px;
    float: right;
    color: white;
    padding: 0 40px;
}
.heading{
    font-weight: 600;
    font-size: 35px;
    color: #535353;
    padding-bottom: 30px;
    
    
}
#limited-edition img, #on-sale img, .products img{
 padding: 30px;
 background-color: #f4f9f9;
 border-radius: 5%;

 
}
#limited-edition .btn,  #on-sale .btn{
    background-color:#a1cae2 ; 
    color: white; 
}
#limited-edition .card,  #on-sale .card{
    border-radius: 5%; 
    padding: 10px;
    margin: 40px 0;
    max-width: 19rem;
}
.fa-chevron-left , .fa-chevron-right{
    color: white;
    background-color: #a1cae2;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 20px 10px;

}
.owl-carousel .item{
    display: flex !important;  
    flex-direction: row;   
    justify-content: center; 
}

 .owl-item.active.center {
    transform: scale(1.1, 1.1);
}

a{
    text-decoration: none;
    color: #535353;;
}
#categories a{
    text-decoration: none;
    color: #535353;
    
    
    
}
#categories .card h5{
   font-weight: 600;
}
#categories .card{

    border-radius: 15px;
    margin: 20px  0;
    padding: 15px 0;
    border: none;
    
}
#categories .card:hover{

   background-color: #c7c7c7;
   
}
#categories a:hover{

    color: white;
    
}

footer a:hover{
    text-decoration: none;
    color: #d1d1d1;
}
footer a {
  color: white;
  text-decoration: none;
  
  
}
#footer .col-sm-4{
   padding-top: 40px;
}
#footer .news{
    
    text-align: center;
    padding-top: 120px;
    
    
}
#footer .contact{
    
    text-align: right;
    padding-top: 100px;
    
    
}
#footer img {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    
}

.footer-copyright{
    font-size: 16px;
}
/* #footer{
    margin-top: -350px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 18px;
    font-style: normal;
   
    
}
#fimage{
    position: relative;
    margin-top: -200px;
 
    height: 100%;
    width: 100%;
    z-index: -1;
} */
@media screen and (max-width:575px){
    .heading{
        text-align: center !important;
    }
    
    #banner .banner-subheading{
        text-align: center;
        color: #535353;
    }
    #banner .browse{
        background-color:#a1cae2 ;
        font-size: 30px;
        float: none;
        color: white;
        padding: 0 40px;
    }
    #banner .banner-heading{
        
        font-size: 40px;
        text-align: center;
        color: #535353;
        padding-top: 20px;
    }
    #footer .news{
    
        text-align: left;
        padding-top: 10px;
        
        
    }
    #footer .contact{
        
        text-align: left;
        padding-top: 10px;
        
        
    }
}
@media (max-width:1200px){
    #limited-edition .card,  #on-sale .card{
        max-width: 16rem;
    }
}
@media screen and (max-width:374px)
{
    #footer{
        margin-top: -50px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;    
    }
    #fimage{
        position: relative;
        margin-top: -150px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
    
}

@media screen and (min-width:375px)
{
    #footer{
        margin-top: -88px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -140px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
    
}
@media screen and (min-width:425px)
{
    
    #footer{
        margin-top: -100px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -140px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:768px)
{
    #footer{
        margin-top: -180px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -360px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:1024px)
{
    #footer{
        margin-top: -240px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: #a1cae2;     
    }
    #fimage{
        position: relative;
        margin-top: -410px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}
@media screen and (min-width:1440px)
{
    #footer{
        margin-top: -350px;
        color: white;
        font-size: 18px;
        font-style: normal;
        background-color: initial;
       
    }
    #fimage{
        position: relative;
        margin-top: -790px;
        /* margin-bottom:; */
        height: 100%;
        width: 100%;
        z-index: -1;
    } 
}

.page-footer{
    margin-bottom: -5%;
}